@import "../../../styles/color.scss";

header {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 65px;
    margin: 0;
    background-color: rgba(255, 248, 248, 0);
    border-bottom: 1px solid rgba(111, 105, 179, 0);

    &-logo {
      display: block;
      img {
        width: 100px;
      }
    }
    &-links {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin-right: 15px;
      }
    }
  }
}
